[Unit]
Description=provision
After=network.target auditd.service

[Service]
ExecStart=/bin/provision.sh
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
