[Unit]
Description=startup
After=network.target auditd.service

[Service]
ExecStart=/bin/startup.sh
Type=Simple

[Install]
WantedBy=multi-user.target
